@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  :root {
    @apply h-full w-full;
  }
}

.auth-bg {
  background-image: url("/bg-auth.png");
  background-size: 100% 100%;
  background-position: center;
}
